In [1]:
import pandas as pd

In [54]:
df = pd.read_csv('personal_income.csv')
df.head(11)

,State,LineCode,Metric,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,1.0,Eq. 90/10 ratio,5.3,5.2,5.4,5.1,5.4,5.5,5.6,5.2,5.7,4.7,5.5
1,Alabama,2.0,Eq. 80/20 ratio,2.8,2.7,2.8,2.7,2.9,2.9,2.9,2.8,2.8,2.5,2.6
2,Alabama,3.0,Eq. 90/50 ratio,2.4,2.3,2.4,2.4,2.4,2.4,2.4,2.4,2.5,2.1,2.3
3,Alabama,4.0,Eq. 50/10 ratio,2.2,2.2,2.3,2.2,2.3,2.3,2.3,2.2,2.3,2.2,2.3
4,Alabama,5.0,Gini coefficient,0.41,0.41,0.42,0.41,0.43,0.43,0.43,0.41,0.42,0.40,0.41
5,Alabama,6.0,Top 10% share,33.4%,34.1%,34.1%,33.8%,34.0%,34.9%,35.0%,33.7%,34.0%,34.3%,36.0%
6,Alabama,7.0,Bottom 10% share,1.9%,1.9%,1.8%,1.9%,1.7%,1.7%,1.6%,1.7%,1.7%,1.8%,1.7%
7,Alabama,8.0,Median (nominal dollars),"64,022","64,135","64,948","68,111","67,914","69,699","72,620","76,259","81,243","87,075","89,191"
8,Alabama,9.0,Median (constant 2017 dollars),"74,820","74,176","74,191","78,034","76,285","77,359","81,433","83,408","88,654","90,751","87,565"
9,Alabama,10.0,Mean (nominal dollars),"91,706","90,454","92,224","95,225","97,040","100,575","103,470","107,142","113,969","121,765","127,789"
10,Alabama,11.0,Mean (constant 2017 dollars),"107,173","104,614","105,348","109,097","109,001","111,629","116,027","117,186","124,364","126,906","125,460"

In [8]:
df.dtypes

State        object
LineCode    float64
Metric       object
2012        float64
2013        float64
2014        float64
2015         object
2016         object
2017         object
2018         object
2019         object
2020         object
2021         object
2022         object
dtype: object

In [55]:
# Assuming 'df' is your DataFrame
columns_to_clean = ['2020', '2021', '2022']
for column in columns_to_clean:
    df[column] = df[column].apply(lambda x: x.split(' - ') if isinstance(x, str) and '-' in x else [x])
    #df[column] = df[column].apply(lambda x: [y.strip('% ') for y in x] if isinstance(x, list) else x)

In [56]:
df.head(20)

,State,LineCode,Metric,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,1.0,Eq. 90/10 ratio,5.3,5.2,5.4,5.1,5.4,5.5,5.6,5.2,[5.7],[4.7],[5.5]
1,Alabama,2.0,Eq. 80/20 ratio,2.8,2.7,2.8,2.7,2.9,2.9,2.9,2.8,[2.8],[2.5],[2.6]
2,Alabama,3.0,Eq. 90/50 ratio,2.4,2.3,2.4,2.4,2.4,2.4,2.4,2.4,[2.5],[2.1],[2.3]
3,Alabama,4.0,Eq. 50/10 ratio,2.2,2.2,2.3,2.2,2.3,2.3,2.3,2.2,[2.3],[2.2],[2.3]
4,Alabama,5.0,Gini coefficient,0.41,0.41,0.42,0.41,0.43,0.43,0.43,0.41,[0.42],[0.40],[0.41]
5,Alabama,6.0,Top 10% share,33.4%,34.1%,34.1%,33.8%,34.0%,34.9%,35.0%,33.7%,[34.0%],[34.3%],[36.0%]
6,Alabama,7.0,Bottom 10% share,1.9%,1.9%,1.8%,1.9%,1.7%,1.7%,1.6%,1.7%,[1.7%],[1.8%],[1.7%]
7,Alabama,8.0,Median (nominal dollars),"64,022","64,135","64,948","68,111","67,914","69,699","72,620","76,259","[81,243]","[87,075]","[89,191]"
8,Alabama,9.0,Median (constant 2017 dollars),"74,820","74,176","74,191","78,034","76,285","77,359","81,433","83,408","[88,654]","[90,751]","[87,565]"
9,Alabama,10.0,Mean (nominal dollars),"91,706","90,454","92,224","95,225","97,040","100,575","103,470","107,142","[113,969]","[121,765]","[127,789]"
10,Alabama,11.0,Mean (constant 2017 dollars),"107,173","104,614","105,348","109,097","109,001","111,629","116,027","117,186","[124,364]","[126,906]","[125,460]"
11,Alaska,1.0,Eq. 90/10 ratio,5.4,5.5,5.4,5.6,5.2,5.1,5.1,5.2,"[4.8, 5.4]","[4.3, 4.9]","[4.3, 4.8]"
12,Alaska,2.0,Eq. 80/20 ratio,3.0,3.0,2.9,3.0,2.9,2.9,3.0,3.1,[3.1],[2.8],[2.7]
13,Alaska,3.0,Eq. 90/50 ratio,2.3,2.3,2.3,2.3,2.3,2.3,2.3,2.4,"[2.1, 2.3]","[2.0, 2.2]","[2.2, 2.4]"
14,Alaska,4.0,Eq. 50/10 ratio,2.4,2.4,2.4,2.4,2.3,2.2,2.2,2.2,"[2.2, 2.4]","[2.1, 2.3]","[1.9, 2.0]"
15,Alaska,5.0,Gini coefficient,0.41,0.40,0.40,0.42,0.41,0.40,0.39,0.39,[0.38],[0.38],[0.40]
16,Alaska,6.0,Top 10% share,31.3%,30.5%,29.8%,31.6%,31.2%,31.2%,29.1%,29.0%,"[26.4%, 32.4%]","[26.1%, 32.4%]","[28.0%, 34.8%]"
17,Alaska,7.0,Bottom 10% share,1.7%,1.8%,1.9%,1.7%,1.8%,1.9%,2.2%,2.1%,"[2.0%, 2.4%]","[1.9%, 2.3%]","[2.1%, 2.5%]"
18,Alaska,8.0,Median (nominal dollars),"110,147","110,055","118,678","118,153","119,301","119,483","126,543","128,291","[129,276]","[138,811]","[136,112]"
19,Alaska,9.0,Median (constant 2017 dollars),"113,566","112,563","119,319","117,519","116,631","113,941","118,606","120,255","[121,918]","[121,543]","[115,008]"

In [26]:
df[['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']] = df[['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']].replace({',': '', '%': ''}, regex=True).astype(float)
df.head(11)

,State,LineCode,Metric,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,1.0,Eq. 90/10 ratio,5.30,5.20,5.40,5.10,5.40,5.50,5.60,5.20,5.7,4.7,5.5
1,Alabama,2.0,Eq. 80/20 ratio,2.80,2.70,2.80,2.70,2.90,2.90,2.90,2.80,2.8,2.5,2.6
2,Alabama,3.0,Eq. 90/50 ratio,2.40,2.30,2.40,2.40,2.40,2.40,2.40,2.40,2.5,2.1,2.3
3,Alabama,4.0,Eq. 50/10 ratio,2.20,2.20,2.30,2.20,2.30,2.30,2.30,2.20,2.3,2.2,2.3
4,Alabama,5.0,Gini coefficient,0.41,0.41,0.42,0.41,0.43,0.43,0.43,0.41,0.42,0.40,0.41
5,Alabama,6.0,Top 10% share,33.40,34.10,34.10,33.80,34.00,34.90,35.00,33.70,34.0%,34.3%,36.0%
6,Alabama,7.0,Bottom 10% share,1.90,1.90,1.80,1.90,1.70,1.70,1.60,1.70,1.7%,1.8%,1.7%
7,Alabama,8.0,Median (nominal dollars),64022.00,64135.00,64948.00,68111.00,67914.00,69699.00,72620.00,76259.00,"81,243","87,075","89,191"
8,Alabama,9.0,Median (constant 2017 dollars),74820.00,74176.00,74191.00,78034.00,76285.00,77359.00,81433.00,83408.00,"88,654","90,751","87,565"
9,Alabama,10.0,Mean (nominal dollars),91706.00,90454.00,92224.00,95225.00,97040.00,100575.00,103470.00,107142.00,"113,969","121,765","127,789"
10,Alabama,11.0,Mean (constant 2017 dollars),107173.00,104614.00,105348.00,109097.00,109001.00,111629.00,116027.00,117186.00,"124,364","126,906","125,460"