In [1]:
import pandas as pd

In [94]:
df = pd.read_csv('personal_income.csv')
df.head(11)

,State,LineCode,Metric,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,1.0,Eq. 90/10 ratio,5.3,5.2,5.4,5.1,5.4,5.5,5.6,5.2,5.7,4.7,5.5
1,Alabama,2.0,Eq. 80/20 ratio,2.8,2.7,2.8,2.7,2.9,2.9,2.9,2.8,2.8,2.5,2.6
2,Alabama,3.0,Eq. 90/50 ratio,2.4,2.3,2.4,2.4,2.4,2.4,2.4,2.4,2.5,2.1,2.3
3,Alabama,4.0,Eq. 50/10 ratio,2.2,2.2,2.3,2.2,2.3,2.3,2.3,2.2,2.3,2.2,2.3
4,Alabama,5.0,Gini coefficient,0.41,0.41,0.42,0.41,0.43,0.43,0.43,0.41,0.42,0.40,0.41
5,Alabama,6.0,Top 10% share,33.4%,34.1%,34.1%,33.8%,34.0%,34.9%,35.0%,33.7%,34.0%,34.3%,36.0%
6,Alabama,7.0,Bottom 10% share,1.9%,1.9%,1.8%,1.9%,1.7%,1.7%,1.6%,1.7%,1.7%,1.8%,1.7%
7,Alabama,8.0,Median (nominal dollars),"64,022","64,135","64,948","68,111","67,914","69,699","72,620","76,259","81,243","87,075","89,191"
8,Alabama,9.0,Median (constant 2017 dollars),"74,820","74,176","74,191","78,034","76,285","77,359","81,433","83,408","88,654","90,751","87,565"
9,Alabama,10.0,Mean (nominal dollars),"91,706","90,454","92,224","95,225","97,040","100,575","103,470","107,142","113,969","121,765","127,789"
10,Alabama,11.0,Mean (constant 2017 dollars),"107,173","104,614","105,348","109,097","109,001","111,629","116,027","117,186","124,364","126,906","125,460"

In [95]:
# Find averaged data from ranged data
columns_to_clean = ['2020', '2021', '2022']
for column in columns_to_clean:
    df[column] = df[column].replace({',': '', '%': ''}, regex=True)
    df[column] = df[column].apply(lambda x: x.split(' - ') if isinstance(x, str) and '-' in x else [x])
    df[column] = df[column].apply(lambda x: round(sum(float(y) for y in x) / len(x), 1) if len(x) == 2 else round(float(x[0]), 1) if len(x) == 1 else x)
#df.loc[df['LineCode'].isin([6, 7]), columns_to_clean] = df.loc[df['LineCode'].isin([6, 7]), columns_to_clean].astype(str) + '%'
# Clean the rest
df[['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']] = df[['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']].replace({',': '', '%': ''}, regex=True).astype(float)
df.head(11)

,State,LineCode,Metric,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,1.0,Eq. 90/10 ratio,5.30,5.20,5.40,5.10,5.40,5.50,5.60,5.20,5.7,4.7,5.5
1,Alabama,2.0,Eq. 80/20 ratio,2.80,2.70,2.80,2.70,2.90,2.90,2.90,2.80,2.8,2.5,2.6
2,Alabama,3.0,Eq. 90/50 ratio,2.40,2.30,2.40,2.40,2.40,2.40,2.40,2.40,2.5,2.1,2.3
3,Alabama,4.0,Eq. 50/10 ratio,2.20,2.20,2.30,2.20,2.30,2.30,2.30,2.20,2.3,2.2,2.3
4,Alabama,5.0,Gini coefficient,0.41,0.41,0.42,0.41,0.43,0.43,0.43,0.41,0.4,0.4,0.4
5,Alabama,6.0,Top 10% share,33.40,34.10,34.10,33.80,34.00,34.90,35.00,33.70,34.0,34.3,36.0
6,Alabama,7.0,Bottom 10% share,1.90,1.90,1.80,1.90,1.70,1.70,1.60,1.70,1.7,1.8,1.7
7,Alabama,8.0,Median (nominal dollars),64022.00,64135.00,64948.00,68111.00,67914.00,69699.00,72620.00,76259.00,81243.0,87075.0,89191.0
8,Alabama,9.0,Median (constant 2017 dollars),74820.00,74176.00,74191.00,78034.00,76285.00,77359.00,81433.00,83408.00,88654.0,90751.0,87565.0
9,Alabama,10.0,Mean (nominal dollars),91706.00,90454.00,92224.00,95225.00,97040.00,100575.00,103470.00,107142.00,113969.0,121765.0,127789.0
10,Alabama,11.0,Mean (constant 2017 dollars),107173.00,104614.00,105348.00,109097.00,109001.00,111629.00,116027.00,117186.00,124364.0,126906.0,125460.0

In [96]:
df.to_csv('personal_income_formatted.csv', index=False)